@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

.footer {
	text-align: center;
	font-family: 'Dosis', 'Roboto';
	font-weight: bold;
	color: #383838;
	font-size: 1.2rem;
	height: 100%;
	margin: 0;
	background-color: #aaaaaa;
}

.footer > a:hover, .footer > a:visited, .footer > a:link, .footer > a:active {
	text-decoration: none;
	color: #383838;
}